* {
    margin: 0;
    padding: 0;
}

.verde{
    background-color: chartreuse;
}

.Amarelo{
    background-color:  yellow;
}

.laranja{
    background-color: orange;
}

.rosa{
    background-color: rgb(211, 45, 73);
}

.azul{
    background-color: #9ee6e9;
}






.div-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    margin: 0 auto
}

.tabela-periodica {
    /* background-color: #f2f0d8; */
    width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    margin-top: 235px;
}

.tabela-periodica--ico {
    cursor: pointer;
    border-radius: 4px;
    color: #FFF;
}