


.container {
    height: 300px;
    width: 400px;
    background-color: rgb(34, 32, 204);
    border-radius: 25px;
   
    margin: 150px auto;
    position: static;
}

.elemento {
    width: 100px;
    height: 50px;
    background-color:red;
    margin: 33px auto;
    margin-right: 2px;
}





