@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     
    <h1 class="display-4"><b>Bem Vindo</b></h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Sistema Gerenciamento de Cadastro</a>.</p>
    <img src = "~/Images/Gestão-de-contratos-online.png" alt = "cadastro" /> 
</div>


