@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p><a>Sistema de Contato</a>.</p>

    <img src="~/Image/Contatos.png" class= "w-75 " >
   
</div>


